/CompGrafica_Trabalho1/nbproject/private/
/CompGrafica_Trabalho1/build/
/CompGrafica_Trabalho1/dist/
/CompGrafica_Trabalho2/nbproject/private/
/CompGrafica_Trabalho2/build/
/CompGrafica_Trabalho2/dist/

# Created by https://www.gitignore.io/api/java

### Java ###
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*