/CompGrafica_Trabalho1/nbproject/private/
/CompGrafica_Trabalho1/build/
/CompGrafica_Trabalho1/dist/
/CompGrafica_Trabalho2/nbproject/private/
/CompGrafica_Trabalho2/build/
/CompGrafica_Trabalho2/dist/